/**
 * @file
 * All the fonts we are going to use are imported here.
 */
@import url(https://fonts.googleapis.com/css?family=Oswald:700);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif);
/* normalize.scss 2.2.0+normalize.2.1.3 | MIT/GPLv2 License | bit.ly/normalize-with-compass */
/**
 * @file
 * All the variables we are using in our styling are listed here.
 */
/* line 10, ../sass/lib/_normalize.scss */
html {
  box-sizing: border-box;
}

/* line 13, ../sass/lib/_normalize.scss */
*, *:before, *:after {
  box-sizing: inherit;
}

/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
/* line 26, ../sass/lib/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
/* line 45, ../sass/lib/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 60, ../sass/lib/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
/* line 70, ../sass/lib/_normalize.scss */
[hidden],
template {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *  user zoom.
 * 3. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
/* line 87, ../sass/lib/_normalize.scss */
html {
  font-family: "Droid Serif", Georgia, serif, sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
/* line 119, ../sass/lib/_normalize.scss */
body {
  line-height: 1.5;
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 132, ../sass/lib/_normalize.scss */
a {
  background: transparent;
  text-decoration: none;
}
/* line 135, ../sass/lib/_normalize.scss */
a:focus, a:hover {
  text-decoration: underline;
}

/* line 144, ../sass/lib/_normalize.scss */
p a:hover, p a:focus {
  text-decoration: none;
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
/* line 156, ../sass/lib/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 164, ../sass/lib/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
/* line 194, ../sass/lib/_normalize.scss */
h1 {
  /* Set the font-size and line-height while keeping a proper vertical rhythm. */
  font-size: 2em;
  /* Set 1 unit of vertical rhythm on the top and bottom margins. */
  margin-top: 0.5625em;
  margin-bottom: 0.5625em;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
/* line 244, ../sass/lib/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
/* line 252, ../sass/lib/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
/* line 261, ../sass/lib/_normalize.scss */
dfn {
  font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */
/* line 269, ../sass/lib/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 278, ../sass/lib/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
/* line 287, ../sass/lib/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */
/* line 302, ../sass/lib/_normalize.scss */
pre {
  white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */
/* line 317, ../sass/lib/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 325, ../sass/lib/_normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 333, ../sass/lib/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 341, ../sass/lib/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 345, ../sass/lib/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Lists
   ========================================================================== */
/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
/* line 410, ../sass/lib/_normalize.scss */
img {
  border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
/* line 422, ../sass/lib/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
/* line 434, ../sass/lib/_normalize.scss */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
/* line 456, ../sass/lib/_normalize.scss */
fieldset {
  margin: 0 2px;
  /* Apply borders and padding that keep the vertical rhythm. */
  border-color: #c0c0c0;
  border-top-width: 0.0625em;
  border-top-style: solid;
  padding-top: 0.33125em;
  border-bottom-width: 0.0625em;
  border-bottom-style: solid;
  padding-bottom: 0.66875em;
  border-left-width: 0.0625em;
  border-left-style: solid;
  padding-left: 0.64063em;
  border-right-width: 0.0625em;
  border-right-style: solid;
  padding-right: 0.64063em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
/* line 472, ../sass/lib/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 * 4. Improve appearance and consistency with IE 6/7.
 */
/* line 487, ../sass/lib/_normalize.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 5px 0;
  /* 3 */
  padding: 10px;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 506, ../sass/lib/_normalize.scss */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
/* line 518, ../sass/lib/_normalize.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
/* line 533, ../sass/lib/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  padding: 13px 21px;
  padding: 0.8rem 1.3rem;
  background: #fff;
  clear: both;
  display: block;
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  width: auto;
}
/* line 547, ../sass/lib/_normalize.scss */
button:focus, button:hover,
html input[type="button"]:focus,
html input[type="button"]:hover,
input[type="reset"]:focus,
input[type="reset"]:hover,
input[type="submit"]:focus,
input[type="submit"]:hover {
  color: #000;
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 557, ../sass/lib/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 * 3. Remove excess padding in IE 7.
 *  Known issue: excess padding remains in IE 6.
 */
/* line 569, ../sass/lib/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *  (include `-moz` to future-proof).
 */
/* line 585, ../sass/lib/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
/* line 595, ../sass/lib/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 604, ../sass/lib/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
/* line 615, ../sass/lib/_normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 628, ../sass/lib/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
 * @file
 * All the extends we are going to use are imported here.
 */
/* line 6, ../sass/lib/_extends.scss */
section a.btn, section .btn {
  background: #FFE03A;
  border: 2px solid #FFE03A;
  border-radius: .5rem;
  color: #054f51;
  display: inline-block;
  font-weight: bold;
  padding: 1rem 2rem .75rem;
  text-transform: uppercase;
}
/* line 15, ../sass/lib/_extends.scss */
section .btn:focus, section .btn:hover {
  background: #333333;
  color: #FFE03A;
  cursor: pointer;
}

/**
 * @file
 * Zen Grids
 **/
/* line 9, ../sass/_layout.scss */
.contained {
  clear: both;
  margin: auto;
  max-width: 1024px;
  padding: 0 1rem;
  text-align: center;
}

/**
 * @file
 * Styling for headings is added here.
 */
/* line 6, ../sass/elements/_h.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Oswald, sans-serif;
}

/* line 1, ../sass/regions/_header.scss */
header {
  background: #FFE03A;
  color: #333333;
  clear: both;
  display: flex;
  justify-content: center;
  min-height: 33vh;
  overflow: hidden;
}

/* line 1, ../sass/regions/_section.scss */
section {
  background: #054f51;
  border-bottom: 8px dashed #FFE03A;
  border-top: 8px dashed #FFE03A;
  clear: both;
  color: #dfdfdf;
  display: flex;
  justify-content: center;
  min-height: 50vh;
  overflow: hidden;
}

/* line 13, ../sass/regions/_section.scss */
section .content {
  align-self: center;
}

/* line 25, ../sass/regions/_section.scss */
section .btn {
  margin-top: 1rem;
}

/* line 1, ../sass/regions/_footer.scss */
footer {
  background: #FFE03A;
  clear: both;
  color: #333333;
  display: flex;
  font-family: Oswald, sans-serif;
  font-weight: bold;
  justify-content: center;
  min-height: 17vh;
  overflow: hidden;
}

/* line 13, ../sass/regions/_footer.scss */
footer a {
  color: #333333;
  text-decoration: underline;
}
/* line 16, ../sass/regions/_footer.scss */
footer a:focus, footer a:hover {
  color: #054f51;
  text-decoration: none;
}
